<p>
  <strong>Name:</strong>
  <%= @poster.name %>
</p>

<p>
  <%= image_tag @poster.image.url, width: '80%' if @poster.image? %>
</p>

<%= link_to 'Edit', edit_poster_path(@poster) %> |
<%= link_to 'Back', posters_path %>
