<h1>A csapat</h1>
<% @users = User.all %>
<div class="card-columns">
  <% @users.each do |user| %>
    <div class="card">
      <%= image_tag user.image.url(:thumb), :class => "card-img-top" if user.image? %>
      <div class="card-body">
        <h5 class="card-title"><%= user.username %></h5>
        <p class="card-text"><%= user.introduction %></p>
      </div>
    </div>
  <% end %>
</div>
