<h1>A csapat</h1>
<!-- TODO: list name, image and introduction in a nice formatted way -->
<% @users = User.all %>
<% @users.each do |user| %>
  <%= image_tag user.image.url(:thumb) if user.image? %><br />
  <%= user.username %><br />
  <%= user.introduction %><br />
<% end %>
