h1.title.is-1
  = @page.title
= @page.content.html_safe
br
= link_to "Szerkesztés", edit_page_path(@page), :class => "button is-primary" if admin?
h2.title.is-2
  | Körtagok
.row.columns.is-multiline
  - @users.each do |user|
    .column.is-one-third
      .card.large.round
        .card-image
          figure.image
            = image_tag user.image.url(:thumb), :class => "card-img-top" if user.image?
        .card-content
          .media
            .media-content
              p.title.is-4.no-padding
                = user.name
              p.subtitle.is-6
                | Moderator
          .content
            = user.introduction
