h1.title.is-1
  = @event.title
p
  em
    = time_ago_in_words @event.created_at
article.message.is-small
  .message-body
    = @event.intro

.fr-view
  = @event.content.html_safe
p
  strong
    | Esemény időpontja
p
  = @event.event_date.strftime('%Y. %-m. %d. %H:%M')
- if admin?
  = link_to 'Szerkesztés', edit_event_path(@event), class: 'button is-secondary'
