= form_with(model: meal, local: true) do |form|
  - if meal.errors.any?
    #error_explanation
      h2
        = pluralize(meal.errors.count, "error")
        |  prohibited this meal from being saved:
      ul
        - meal.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label :name, "Név", class: "label"
    = form.text_field :name, class: "input"
  .field
    = form.label :image, "Kép", class: "label"
    = form.file_field :image
  .field
    = form.label :category_id, "Kategória", class: "label"
    .control
      .select
        = form.collection_select :category_id, @categories, :id, :name, {}, {}
  .field
    = form.label :toppings, "Feltétek", class: "label"
    = form.text_field :toppings, class: "input"
  .actions
    = form.submit "Mentés", class: "button is-primary"
