<footer class="footer">
  <div class="content has-text-centered">
    <p>Made by Kir-Dev</p>
    <p>
      <a href="http://kir-dev.sch.bme.hu" target="_blank">
        <img src="/images/kirdev.png">
      </a>
    </p>
    <a href="https://www.facebook.com/kakasfogado/" class="has-text-dark"><i class="fab fa-facebook-square"></i> Vörös Kakas Fogadó</a> | 
    <a href="mailto:kakas@sch.bme.hu" class="has-text-dark"><i class="fas fa-envelope"></i> kakas@sch.bme.hu</a>
  </div>
</footer>