footer.footer
  .content.has-text-centered
    p
      | Made by Kir-Dev
    p
      a[href="http://kir-dev.sch.bme.hu" target="_blank"]
        img[src="/images/kirdev.png"]
    a.has-text-dark[href="https://www.facebook.com/kakasfogado/"]
      i.fab.fa-facebook-square
      |  Vörös Kakas Fogadó
    |  | 
    a.has-text-dark[href="mailto:kakas@sch.bme.hu"]
      i.fas.fa-envelope
      |  kakas@sch.bme.hu
